<form class="bg-light p-5 m-5">
    <div class="mb-3">
      <label for="num1" class="form-label">Numero 1</label>
      <input type="number" class="form-control" [(ngModel)]="num1" name="num1">
    </div>
    <div class="mb-3">
        <label for="num2" class="form-label">Numero 2</label>
        <input type="number" class="form-control" [(ngModel)]="num2" name="num2">
      </div>
    <div class="d-grid gap-2 col-6 mx-auto ">
      <button class="btn btn-primary " (click)="onClick('Somar')">Somar</button>
     <button class="btn btn-primary " (click)="onClick('Subtrair')">Subtrair</button>
      <button class="btn btn-primary " (click)="onClick('Dividir')">Dividir</button>
      <button class="btn btn-primary " (click)="onClick('Multiplicar')">Multiplicar</button>
    </div>
    <div class="mb-3">
        <label>{{sum}}</label>
      </div>
  </form>